h1 this is h1
h2 this is h2
h3 this is h3
h4 this is h4
h5 this is h5
h6 this is h6

p this is p
p
  strong this is strong
p
  em this is emphasised
p 
  | this is 
  sub sub
p
  | and this is 
  sup sup

p
  a(href='#') this is a link

p
  | this is
  code inline code
pre
  code this is preformatted code

p this is p

hr

p this is p


ul
  li this
  li is
  li an
  li unordered
  li list

ol
  li this
  li is
  li an
  li ordered
  li list

blockquote
  p this
  blockquote
    p is
    blockquote
      p a
      blockquote
        p blockquote

table
  thead
    tr
      th and what is this
      th little thing huh?
  tbody
    tr
      td well it's a... table
      td this table has only six cells!
    tr
      td and the text is reasonably short
      td but sometimes you get really really long tables

img(src='https://octodex.github.com/images/orderedlistocat.png' style="width:100%;max-width:500px")
