.image-wrapper
  position: relative
  display: inline-block
  width: 300px
  vertical-align: top

  & .image-preview, & .image-main
    position: absolute
    width: 100%
    z-index: 1
    top: 0
    left: 0

  & .image-main
    display: none

    &.image-loaded
      display: inline
