html
    head
        title=htmlWebpackPlugin.options.title 
        meta(charset='utf-8')
        link(rel="stylesheet" type="text/css" href=require('../components/main.sss'))
    body
        #main-container
            != require(htmlWebpackPlugin.options.content)
        
        
