//- extends ../components/page.pug

html
    head
        title=htmlWebpackPlugin.options.title 
        meta(charset='utf-8')
    body
        #main-container.
            !{htmlWebpackPlugin.options.bodyHTML}
        
