{
  "plugins": ["prettier"],
  "extends": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "impliedStrict": true
    },
    "allowImportExportEverywhere": true
  },
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": ["error", "as-needed"],
    "no-shadow": "error",
    "no-extra-semi": 0,
    "prettier/prettier": "error"
  }
}
