.card--wrapper {
  border-radius: 8px;
  box-shadow: 0px 0px 20px 1px #bbbbbb;
  overflow: hidden;
  position: relative;

  &__square,
  &__swatch {
    padding-top: 100%;
  }
}

.card--content {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;

  &__image {
    height: 40%;
    overflow: hidden;
  }

  &__swatch {
    height: 50%;
    overflow: hidden;
  }

  &__description {
    box-sizing: border-box;
    height: 60%;
    padding: 4%;
  }
}
