mixin card(title, description, image, ...variants)
  .card-wrapper(class=`${variants ? variants.map(variant => 'card-wrapper_' + variant).join(' ') :''}`)
    .card-content
      .card-content_image
        img(src=image)
      .card-content_text
        .card-content_title
          h3=title
        .card-content_description
          p=description
