include header.pug

div(style='margin:100px;width:800px;overflow-y:scroll;height:400px;')
  div(style='height:800px')
    +header(branding, menu, logo)

div(style='margin:100px;width:800px;overflow-y:scroll;height:400px;')
  div(style='height:800px')
    +header(branding, menu, logo, 'fullwidth')
