.image-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;

  .image-preview,
  .image-main {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .image-main {
    display: none;

    &.image-loaded {
      display: inline;
    }
  }
}

@import './styling/main.scss';

@import './components/typography/typography.scss';

@import './components/palette/palette.scss';

@import './components/card/card.scss';

@import './components/header/header.scss';

@import '../content/custom.scss';
