.image-wrapper {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  position: relative;


  // .image-aspect {
    // position: relative;
    // width: 100%;
    // padding-top: 100%; // This gets set automatically per image

    .image-preview,
    .image-main {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      width: 100%
    }

    .image-main {
      display: none;

      &.image-loaded {
        display: inline;
      }
    }
  // }
}

@import './styling/main';
@import './components/typography/typography';
@import './components/card/card';
@import './components/header/header';
@import '../content/custom';
