.image-wrapper {
  display: inline-block;
  position: relative;
  vertical-align: top;
  width: 300px;

  .image-preview,
  .image-main {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .image-main {
    display: none;

    &.image-loaded {
      display: inline;
    }
  }
}

@import './styling/main';
@import './components/typography/typography';
@import './components/card/card';
@import './components/header/header';
@import '../content/custom';
